<%= form_with model: expense, data: {controller: "form", action: "change->form#refresh"} do |form| %>
  <% if expense.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>
      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <%= form.fields_for :schedules do |schedule| %>
    <div class="field">
      <%= schedule.label :amount %>
      <%= schedule.number_field :amount %>
    </div>
    <%= schedule.label :repeats do  %>
      <%= schedule.check_box :repeats %> Repeats
    <% end  %>
    <% if schedule.object.repeats? %>
      <div class="field">
        <%= schedule.label :interval %>
        <%= schedule.number_field :interval  %>
      </div>
      <div class="field">
        <%= schedule.label :frequency %>
        <%= schedule.select :frequency, [
        ["Week".pluralize(schedule.object.interval), "week"], 
        ["Month".pluralize(schedule.object.interval), "month"], 
        ["Year".pluralize(schedule.object.interval), "year"]
        ] %>
      </div>
      <% if schedule.object.frequency == "month" %>
        <div class="field">
          Summary: <%= schedule.object.by_monthday.map(&:ordinalize).to_sentence %>
        </div>
        <div class="field">
          <%= schedule.label :by_monthday, "Monthdays" %>
          <div class="cluster">
            <%= schedule.collection_check_boxes :by_monthday, (1..28).to_a + (-3..-1).to_a, :to_i, :to_i do |b| %>
              <div class="cluster">
                <%= b.check_box %>
                <%= b.label %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="field">
        <%= schedule.label :started_at, "Date" %>
        <%= schedule.date_field :started_at%>
      </div>
    <% end %>
  <% end %>
  <br />
  <div class="hidden">
    <%= form.submit "refresh" %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
